
@{
    ViewBag.Title = "Logger";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<div class="container-fluid" style="width: 1200px">
    <h2>Логированные ошибки</h2>
    <iframe src="/elmah.axd" width="100%" height="800px">

    </iframe>
</div>

