@{
    ViewBag.Title = "Contact";
    Layout = "../Shared/_Layout.cshtml";
}

<section class="site-section element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pr-md-5">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="name">Имя</label>
                            <input type="text" id="name" class="form-control py-2">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="phone">Телефон</label>
                            <input type="text" id="phone" class="form-control py-2">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control py-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message">Напишите письмо</label>
                            <textarea name="message" id="message" class="form-control py-2" cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Отправить сообщение" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">

                <div class="block-23">
                    <h3 class="heading mb-5">Контактная информация</h3>
                    <ul>
                        <li>
                            <a href="https://maps.google.com/?q=ул.+Филимонова+15+Минск+Беларусь">
                                <span class="icon ion-android-pin"></span><span class="text">ул. Филимонова 15, Минск, Беларусь</span>
                            </a>
                        </li>
                        <li><a href="tg://resolve?domain=digital_gangster_95"><span class="icon ion-ios-telephone"></span><span class="text">+375(25) 636-86-10</span></a></li>
                        <li><a href="mailto:usup1999@gmail.com"><span class="icon ion-android-mail"></span><span class="text">usup1999@gmail.com</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END section -->
<div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.129701650703!2d27.631605015859893!3d53.91167108010145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcef7cf6aaaab%3A0xfc9660da06831de1!2z0KHQsNC80YHQvtC70Y7RiNC90YEg0JjQvdC-0YHRgtGA0LDQvdC90L7QtSDQp9Cw0YHRgtC90L7QtSDQn9GA0LXQtNC_0YDQuNGP0YLQuNC1!5e0!3m2!1sru!2sby!4v1534272465398" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>