@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container">
        <h3>Вы уже оставили отклик на этот заказ.</h3>
    </div>
</section>