@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../../Content/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-inner">
            <div class="col-md-10">

                <div class="mb-5 element-animate">
                    <div class="block-17">
                        <h2 class="heading text-center mb-4">BeSide. Выполняй работу и находи исполнителей</h2>

                        <p class="text-center mb-5">Вы можете найти исполнителя для любой работы. А можно найти и работу себе.</p>
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <p class="text-center">
                                @Html.RouteLink("Зарегистрироваться сейчас",
                                    new { controller  = "Account", action = "Register"},
                                    new { @class = "btn py-3 px-5" })
                            </p>
                        }
                        else if(User.IsInRole("provider"))
                        {
                            <p class="text-center">
                                @Html.RouteLink("Найти работу",
                                    new { controller  = "Order", action = "Index"},
                                    new { @class = "btn py-3 px-5" })
                            </p>
                        }
                        else if (User.IsInRole("client"))
                        {
                            <p class="text-center">
                                @Html.RouteLink("Добавить заказ",
                                    new { controller  = "Order", action = "Create"},
                                    new { @class = "btn py-3 px-5" })
                            </p>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->
<section class="site-section element-animate">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="../../Content/images/img_1.jpg" alt="Image placeholder" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="block-15">
                    <div class="heading">
                        <h2>Как это работает?</h2>
                    </div>
                    <div class="text mb-5">
                        <p>Просто, выгодно, надежно. Всего 3 шага - и вы найдете идеального исполнителя для своего заказа.</p>
                    </div>
                    @*<p><a href="#" class="btn btn-primary py-2 px-4">Read More</a></p>*@

                </div>
            </div>

        </div>
    </div>
</section>
<!-- END section -->
<section class="site-section pt-3 element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-book"></span></div>
                    <div class="media-body">
                        <h3 class="heading">1. Разместите заказ</h3>
                        <p>Подробно опишите свой заказ. Приложите документы, фотографии  и укажите условия.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-diploma"></span></div>
                    <div class="media-body">
                        <h3 class="heading">2. Изучите отклики</h3>
                        <p>Дождитесь откликов от исполнителей и сравните их. Вся информация под рукой.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-student"></span></div>
                    <div class="media-body">
                        <h3 class="heading">3. Выберите исполнителя</h3>
                        <p>Выберите подходящего исполнителя и свяжитесь с ним для согласования заказа.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
