
@{
    ViewBag.Title = "SuccessfullySent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container">
        <h3>Сообщение успешно отправлено. Спасибо за ваш отзыв.</h3>
        <h5 class="btn-link">
            @Html.ActionLink("Вернуться на главную", "Index") 
        </h5>
    </div>
</section>