<html>
<head>
    <title>500 - Внутренняя ошибка сервера</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /></head>
<body>
    <div>
        <p>500 - Внутренняя ошибка сервера!!!</p>
    </div>
    <div class="alert-dark">
        <a href="../Home/Index.cshtml">Перейти к главной странице</a>
    </div>
</body>
</html>

