<!DOCTYPE html>
<html>
<head>
    <title>500 - Внутренняя ошибка сервера</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div>
        <p>500 - Внутренняя ошибка сервера</p>
    </div>
    <div class="content">
        <a href="../Home/Index.cshtml">Перейти к главной странице</a>
    </div>
</body>
</html>

