@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center p-5">
    <h1>Ошибка на стороне сервера.</h1>
    <h4>
        @Html.RouteLink("Перейти домой", new { controller = "Home", action = "Index"})
    </h4>
</div>

