<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./404 Not found_files/css">
    <link rel="stylesheet" type="text/css" href="./404 Not found_files/404.css">-->
    <title>
        404 Not found
    </title>

</head>
<body>
<div class="stars"></div>
<div class="sun-moon">
    <div class="sun"></div>
    <div class="moon"></div>
</div>
<div id="js-hills" class="background hills"></div>
<div id="js-country" class="background country"></div>
<div id="js-foreground" class="background foreground"></div>
<div class="error-content">
    Sorry, that page never returned<br>
    from a trip to the <a href="https://travel.sygic.com/go/region:23655">Atacama desert</a>.
</div>
<a href="../Home/Index.cshtml" class="button-home">Go home</a>
<div>
    <span>4</span>
    <span>0</span>
    <span>4</span>
</div>

</body>
</html>